[Unit]
Description=Force enable TAS2781 audio on Legion 9i
After=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/bin/tas2781-fix 6

[Install]
WantedBy=multi-user.target suspend.target
